body, html{
    color: white;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
}
header{
    background-image: url(./IMG/pizzakep.jpg);
    height: 40vh;
    background-size: cover;
    background-position: center;
}
header >p:first-child{
    position: relative;
    top: 4%;
    left: 2%;
    max-width: fit-content;
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 300%;
}

#ham-menu{
    position: absolute;
    top: 4%;
    right: 2%;
    max-width: fit-content;
}

#tortenet{
    background-color: #222222;
    height: 25vh;
    padding-top: 50px;
}

#tortenet-section{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
    width: 75%;
    margin: auto;
}

#tortenet-cim{
    text-align: right;
}

#tortenet-asztal{
    margin-top: 10px;
    font-weight:bolder;
    font-family: "Stack Sans Headline", sans-serif;
}

#menu{
    background-color: black;
    height: 35vh;
}

#menu-section{
    width: 60%;
    height: 100%;
    margin: auto;
    text-align: center;
    padding: 2%;
}

#menu-gombok{
    display: flex;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 40px;
    justify-content: space-between;
    font-family: "Stack Sans Headline", sans-serif;
}

#menu-gombok div{
    height:50px;
    width: 25%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#specialitasok{
    background-color: #222222;
    text-align: center;
    padding: 50px;
}

.specialitasok-section{
    width: 100%;
}

#special-grid{
    display: grid;
    width: 60%;
    height: 700px;
    margin: auto;
    margin-top: 5%;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0.6fr 1fr 0.000000000000000000000000000000000000000000000001fr;
}

.grid-elem p{
    position: relative;
    bottom: 8%;
}

#special-grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#pizza1{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

#vorosbors{
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

#vegyeszoldseg{
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

#pizza2{
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

#eloetel{
    grid-column: 3 / 4;
    grid-row: 3 / 5;
}

footer{
    background-color: black;
}

#footer-section{
    width: 75%;
    padding-top: 5%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#varunk{
    text-align: right;
    width: 25%;
}

#nyitvatartas{
    width: 40%;
}

#nyitvatartas >p:first-child{
    margin-bottom: 15%;
}

#nyitvatartas-napok div{
    border-top: 1px solid rgb(100, 100, 100);
}
#nyitvatartas-napok >div:first-child{
    border: 0;
}

#asztalfoglalas{
    width: 25%;
}

#asztalfoglalas p{
    margin-bottom: 5%;
}

#footer-bottom{
    width: 60%;
    margin: auto;
    text-align: center;
    padding-bottom: 5%;
}

.cim{
    font-size: 30px;
    margin-bottom: 5px;
    font-family: "Stack Sans Headline", sans-serif;
}
.cim span{
    letter-spacing: -2.5px;
}

.alcim{
    font-size: 20px;
    margin-bottom: 5px;
    color: rgb(120, 120, 120);
}

.szoveg{
    line-height: 1.6;
    color: rgb(160, 160, 160);
}

hr{
    margin-top: 10vh;
    margin-bottom: 10vh;
    background-color: rgb(100, 100, 100);
    height: 1px;
    border: 0;
}

a{
    text-decoration: none;
    color: white;
}