body, html{
    color: white;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
}
header{
    background-image: url(./IMG/pizzakep.jpg);
    height: 40vh;
    background-size: cover;
    background-position: center;
}
header p{
    position: relative;
    top: 3%;
    left: 2%;
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 300%;
}

#tortenet{
    background-color: #222222;
    height: 30vh;
    padding-top: 50px;
}

#tortenet-section{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
    width: 75%;
    margin: auto;
}

#tortenet-cim{
    text-align: right;
}

#tortenet-asztal{
    margin-top: 10px;
    font-weight:bolder;
}

#menu{
    background-color: black;
    height: 35vh;
}

#menu-section{
    width: 60%;
    margin: auto;
    text-align: center;
}

#menu-gombok{
    display: flex;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 40px;
    justify-content: space-between;
}

#menu-gombok div{
    height:50px;
    width: 25%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#specialitasok{
    background-color: #222222;
    text-align: center;
    height: 90vh;
    padding: 50px;
}

#special-grid{
    display: grid;
    width: 60%;
    margin: auto;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 40px 1fr 10px;
}

.grid-elem p{
    position: relative;
    bottom: 8%;
}

#special-grid img{
    width: 100%;
    height: 100%;
}

#pizza1{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

#vorosbors{
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

#vegyeszoldseg{
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

#pizza2{
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

#eloetel{
    grid-column: 3 / 4;
    grid-row: 3 / 5;
}

.cim{
    font-size: 30px;
    margin-bottom: 5px;
}
.cim span{
    letter-spacing: -2.5px;
}

.alcim{
    font-size: 20px;
    margin-bottom: 5px;
}

.szoveg{
    line-height: 1.6;
}