body, html{
    color: white;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
}
/*Header--------*/
header{
    background-image: url(./IMG/pizzakep.jpg);
    height: 40vh;
    background-size: cover;
    background-position: center;
}
header >p:first-child{
    position: relative;
    top: 4%;
    left: 2%;
    max-width: fit-content;
    font-family: "Stack Sans Headline", sans-serif;
    font-size: 300%;
}
#ham-menu{
    position: absolute;
    top: 4%;
    right: 2%;
    max-width: fit-content;
}
/*Tortenet--------*/
#tortenet{
    background-color: #222222;
    padding-top: 50px;
    padding-bottom: 50px;
}
#tortenet-section{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
    width: 75%;
    margin: auto;
}
#tortenet-cim{
    text-align: right;
}
#tortenet-asztal{
    margin-top: 10px;
    font-weight:bolder;
    font-family: "Stack Sans Headline", sans-serif;
}
/*Menu--------*/
#menum{
    background-color: black;
}
#menu-section{
    width: 60%;
    height: 100%;
    margin: auto;
    text-align: center;
    padding: 2%;
}
#menu-gombok{
    display: flex;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 40px;
    justify-content: space-between;
    font-family: "Stack Sans Headline", sans-serif;
}
#menu-gombok div{
    height:50px;
    width: 25%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Specialitasok--------*/
#specialitasok{
    background-color: #222222;
    text-align: center;
    padding: 50px;
}
.specialitasok-section{
    width: 100%;
}
#special-grid{
    display: grid;
    width: 60%;
    margin: auto;
    margin-top: 5%;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0.1fr 1fr 0fr;
}
.grid-elem p{
    position: relative;
    bottom: 7%;
}
#special-grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Specialitasok grid elemei--------*/
#pizza1{ grid-column: 1 / 3; grid-row: 1 / 2;}
#vorosbors{ grid-column: 3 / 4; grid-row: 1 / 3;}
#vegyeszoldseg{ grid-column: 1 / 2; grid-row: 2 / 4;}
#pizza2{ grid-column: 2 / 3; grid-row: 2 / 4;}
#eloetel{ grid-column: 3 / 4; grid-row: 3 / 5;}
/*Footer--------*/
footer{
    background-color: black;
}
#footer-section{
    width: 75%;
    padding-top: 5%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#varunk{
    text-align: right;
    width: 25%;
}
#nyitvatartas{
    width: 40%;
}
#nyitvatartas >p:first-child{
    margin-bottom: 15%;
}
#nyitvatartas-napok div{
    border-top: 1px solid rgb(100, 100, 100);
}
#nyitvatartas-napok >div:first-child{
    border: 0;
}
#asztalfoglalas{
    width: 25%;
}
#asztalfoglalas p{
    margin-bottom: 5%;
}
#footer-bottom{
    width: 60%;
    margin: auto;
    text-align: center;
    padding-bottom: 5%;
}
/*Szoveg--------*/
.cim{
    font-size: 30px;
    margin-bottom: 5px;
    font-family: "Stack Sans Headline", sans-serif;
}
.cim span{
    letter-spacing: -2.5px;
}
.alcim{
    font-size: 20px;
    margin-bottom: 5px;
    color: rgb(120, 120, 120);
}
.szoveg{
    line-height: 1.6;
    color: rgb(160, 160, 160);
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
}
hr{
    margin-top: 10vh;
    margin-bottom: 10vh;
    background-color: rgb(100, 100, 100);
    height: 1px;
    border: 0;
}
a{
    text-decoration: none;
    color: white;
}
#menuToggle{
    display: none;
}

@media (max-width: 992px) {
    #menuToggle{
        display: block;
    }
    #ham-menu{
        visibility: hidden;
    }
    #tortenet-section{
        grid-template-columns: 1fr 4fr;
    }
    #special-grid{
        width: 100%;
    }
    #footer-bottom{
        width: 90%;
    }
    #varunk-special{
        font-size: 20px;
    }
    header >p:first-child{
        font-size: 200%;
    }
    #menu-gombok{
        margin-top: 15px;
    margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    #special-grid{
        display: flex;
        flex-direction: column;
    }
    #pizza1{
        height: 400px;
        margin-bottom: 15px;
        order: 1;
    }
    #vorosbors{
        height: 900px;
        margin-bottom: 15px;
        order: 4;
    }
    #vegyeszoldseg{
        height: 500px;
        margin-bottom: 15px;
        order: 2;
    }
    #pizza2{
        height: 450px;
        margin-bottom: 15px;
        order: 3;
    }
    #eloetel{
        height: 250px;
        margin-bottom: 15px;
        order: 5;
    }
    .grid-elem p{
        position: relative;
        bottom: 40px;
    }
    #tortenet-section{
        display: block;
        width: 90%;
    }
    #menu-section{
        width: 90%;
    }
    #menu-gombok{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    #menu-gombok div{
        width: 70%;
    }
    #footer-section{
        display: block;
        width: 95%;
    }
    #footer-section div{
        width: 100%;
    }
    #nyitvatartas >p:first-child{
        margin-bottom: 5%;
    }
    #asztalfoglalas{
        margin-top: 5%;
    }
    .cim{
        font-size: 25px;
        margin-bottom: 5px;
        font-family: "Stack Sans Headline", sans-serif;
    }
    .alcim{
        font-size: 15px;
    }
    hr{
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    #specialitasok{
        padding: 15px;
        padding-top: 15px;
    }
    #varunk-special{
        font-size: 35px;
    }
}

/*--------------------------------------------------------
                    Hamburger menu*/

#menuToggle
{
  position: fixed;
  top: 50px;
  right: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0;
  z-index: 2;
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #ffffff;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  max-width: 400px;
  width: 100vw;
  height: 40vh  ;
  max-height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  box-sizing: border-box;
  overflow-y: auto;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menu li label
{
  cursor: pointer;
}

#menuToggle input:checked ~ ul
{
  transform: translate(-50%, 0);
}